<!DOCTYPE html>
<html>
   <head>
      <title>Filter Reveal</title>
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">
      <link rel = "stylesheet" href = "https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
      <script src = "https://code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src = "https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
   </head>

   <body>
    <div position=relative align=right data-role="controlgroup" data-type="horizontal">
        <a href="http://localhost:5000/area_new" data-role="button">Add</a>
    </div>
    <ul data-role="listview" data-filter="false" data-filter-reveal="false" data-filter-placeholder="Search fruits..." data-inset="true">
    {%if table %}
        {%for a in table %}
          <li>
            <a href="/list_formato?disciplina={{ a }}">
              <h3>{{a}}</h3>
            </a>
            <a href="/area_edit?id={{ a}}" class="split-button-custom" data-role="button" data-icon="arrow-r" data-iconpos="notext">Editar</a>
            <a href="/area_delete?id={{ a }}" class="split-button-custom" data-role="button" data-icon="gear" data-iconpos="notext">Borrar</a>
            <a href="#" style="display: none;">Dummy</a>
          </li>
        {%endfor%}
    {%endif%}
    </ul>
</body>
</html>

