<!DOCTYPE html>
<html>
   <head>
      <title>Filter Reveal</title>
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">
      <link rel = "stylesheet" href = "https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
      <script src = "https://code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src = "https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
   </head>

   <body>
    <ul data-role="listview" data-filter="false" >
    {%if table %}
        {%for a in table %}
          <li>
          {% with n1, n2 = a.split('_') %}
            <a href="/list_protocolo?format={{n1}}">
              <h3>{{n2}}</h3>
            </a>
            <a href="/edit_protocolo?format={{n1}}" class="split-button-custom" data-role="button" data-icon="gear" data-iconpos="notext">Borrar</a>
          </li>
          {% endwith %} 
        {%endfor%}
    {%endif%}
    </ul>
</body>
</html>

