<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>MATRIZ</title> 
<script type="text/javascript" src="http://code.jquery.com/jquery-1.5.min.js"></script>  
<script type="text/javascript" src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"></script>
<link rel="stylesheet"  href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" /> 
</head>
<body>

<section id="page1" data-role="page">  
    <header data-role="header">  
        <h1>Página 2</h1>  
    </header>  
    <div id="container">
    <form action="/plano_new" method="post">
     <div id="inputs">
         <div><input name="id" type="text" value=""/></div>         
         <div><label for="Codigo_TRM">Codigo_TRM:</label><input name="Codigo_TRM" type="text" value=""/></div>         
         <div><label for="area">area:</label><input name="area" type="text" value=""/></div>         
         <div><label for="fecha">fecha:</label><input name="fecha" type="text" value=""/></div>         
         <div><label for="disciplina">disciplina:</label><input name="disciplina" type="text" value=""/></div>         
         <div><label for="codigo">codigo:</label><input name="codigo" type="text" value=""/></div>         
         <div><label for="descripcion">descripcion:</label><input name="descripcion" type="text" value=""/></div>         
         <div><label for="rev">rev:</label><input name="rev" type="text" value=""/></div>
         <input type="submit" value="Guardar" />
      </div>
    </form>
    </div>
    <footer data-role="footer">  
        Pie de la página 2  
    </footer>  
</section> 

</body>
</html>