<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.0.0/fabric.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"></script>
<link rel="stylesheet"  href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" /> 
<script type="text/javascript" src="http://code.jquery.com/jquery-1.5.min.js"></script>
</head>
<body>
<section id="page1" data-role="page">  
    <header data-role="header">  
        <h1>Pagina 2</h1>  
    </header> 
    <div id="container">
    <form action="/plano_edit" method="post">
     <div id="inputs">
             <div><input name="id" type="hidden" value="{{val.id}}"/></div>               
             <div><label for="Codigo_TRM">Codigo_TRM:</label><input name="Codigo_TRM" type="text" value="{{val.Codigo_TRM}}"/></div>               
             <div><label for="area">area:</label><input name="area" type="text" value="{{val.area}}"/></div>               
             <div><label for="fecha">fecha:</label><input name="fecha" type="text" value="{{val.fecha}}"/></div>               
             <div><label for="disciplina">disciplina:</label><input name="disciplina" type="text" value="{{val.disciplina}}"/></div>               
             <div><label for="codigo">codigo:</label><input name="codigo" type="text" value="{{val.codigo}}"/></div>               
             <div><label for="descripcion">descripcion:</label><input name="descripcion" type="text" value="{{val.descripcion}}"/></div>               
             <div><label for="rev">rev:</label><input name="rev" type="text" value="{{val.rev}}"/></div>
         <input type="submit" value="Guardar" />
      </div>
    </form>
    </div>
    <footer data-role="footer">  
        Pie de la pagina 2  
    </footer>  
</section>  
</body>
</html>